header {
    display: inline-block;
}

ul {
    list-style-type: none;
    display: inline;
    float: left;
    position: inherit;
}

section {
    display: inline-block;
}

.logo {
    max-width: 95px;
    width: 100%;
    margin-top: 37px;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 48px;
    /* or 48px */

    letter-spacing: -0.02em;

    color: #0A1B32;
}

.logo-dot {
    color: #FC569A;
}

.home {
    max-width: 45px;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 273px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #1B0A42;
}

.about {
    max-width: 44px;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 356px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #1B0A42;
}

.blog {
    max-width: 33px;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 440px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #1B0A42;
}

.contact {
    max-width: 58px;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 510px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #1B0A42;
}

.sign-in {
    max-width: 51px;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 1321px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #1B0A42;
}

.sign-up {
    width: 120px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 1412px;
    background-color: #FC569A;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;
    border: none;

    color: #FFFFFF;
}

.main-head {
    max-width: 496px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: 'Ramaraja', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */

    letter-spacing: 0.02em;

    color: #1B0A42;

}

.main-text {
    max-width: 580px;
    width: 100%;
    height: 96px;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    letter-spacing: 0.02em;

    color: #9A9A9A;

}

.main-button {
    width: 152px;
    height: 64px;
    top: 588px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    background-color: #FC569A;
    border-radius: 6px;
    border: none;
}
